<html>
  <head>
    <title>1v1.lol</title>
  </head>
  <body>

    <iframe src="https://topvazstore.github.io/g/1v1-lol"  frameborder="0" style="position: absolute; height: 100%; width: 100%; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden;">
    <form action="/">
      <button type="submit">Back</button>
    </form>
  </body>
</html>