<html>
  <head>
    <title>Goombing Games</title>
    <link rel='stylesheet' href='/css/games.css'>
    <link rel='stylesheet' href='/css/main.css'>
    
  </head>
  <body>

    <h1 class='main-title'><%= title %></h1>


    <ul>
      <% for ([key, value] of Object.entries(Object.assign({}, urlMap, sourceMap))) { %>
        <li><a href='/<%=key%>'><%=key%></a></li>
      <% } %>
    </ul>
    <br>
    <%- include('navbar') %>


  </body>
</html>

