<html>
  <head>
    <title>Goombing Games</title>
  </head>
  <body>
    <h1>Goombing since 2019</h1>
    <ul>
      <li><a href='/halflife'>Halflife</a></li>
      <li><a href='/doom'>Doom</a></li>
      <li><a href='/slope'>Slope</a></li>
      <li><a href='/geometry_dash'>Geometry Dash Clone(hard)</a>
      <li><a href='/1v1-lol'>1v1-lol</a></li>
      <li><a href='/moto-x3m'>Moto X3M</a>
        <li><a href='/moto-x3m-winter'>Moto X3M Winter</a>
      <li><a href='/realmz'>Realmz.io</a></li>


    </ul>

    
    <!--Ill go fidn more games and post the url here, also i may work on website design cause it godawful right now
    https://erth2.party/
    -->
    <br>
    
  </body>
</html>