<html>
  <head>
    <title>Goombing Games</title>
    <link rel='stylesheet' href='/css/main.css'>
  </head>
  <body>
    
    <h1 class='main-title'><%= title %></h1>
    <p class="content">


      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non ultrices mi. In dolor nisi, consectetur at nibh ut, egestas porttitor tellus. Cras tempor elit sed egestas pellentesque. Aliquam posuere vitae dui ultricies finibus. Nam vitae finibus purus. Vivamus aliquam dolor non nulla accumsan dictum. Aenean quis augue posuere neque gravida sollicitudin a vitae quam. Phasellus elementum auctor nunc, a pharetra enim sodales eu. Sed pellentesque luctus nisl vel laoreet.

      Mauris a dui eu mauris ultrices venenatis. Pellentesque ornare lobortis ultrices. Ut rhoncus justo justo, finibus bibendum purus tempor ut. Sed lacinia et nunc vitae gravida. Vestibulum id justo eu purus lobortis sagittis rutrum ac risus. Sed vitae aliquam ex. Curabitur non tellus at nulla euismod sodales. Mauris venenatis porta odio, ut pharetra erat pharetra ut. Phasellus congue consequat nulla, eget blandit sapien varius at.

      Etiam in sapien id odio vulputate pellentesque. Morbi condimentum nec magna non venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris sed justo et ex molestie blandit. Cras lacinia ac arcu in malesuada. In sed euismod metus. Sed pharetra pretium cursus. Quisque rhoncus ac nulla et interdum. Nunc eget purus mollis, sagittis mi sed, efficitur ligula. Pellentesque lorem arcu, sagittis nec velit eget, bibendum maximus quam.

      Integer feugiat at est sed dignissim. Nullam sit amet nulla eget sapien lacinia congue nec in risus. Cras bibendum eros odio, non sagittis quam ullamcorper at. Fusce rutrum pharetra lacus nec venenatis. Ut sollicitudin erat a lorem faucibus iaculis. Praesent dignissim leo id nunc porta venenatis. Phasellus viverra eu nibh vitae vestibulum. Mauris a lobortis tortor, et elementum ipsum. Sed pellentesque iaculis libero sed placerat.

      Proin a feugiat tellus. Fusce pretium dui id blandit interdum. Nam ultricies lectus eget tellus fringilla pellentesque. In euismod posuere augue, non mattis nisi gravida ut. Proin euismod pulvinar nulla, non mattis nisi imperdiet a. Cras ligula diam, porttitor sed justo sed, mollis sagittis ipsum. Sed mattis, turpis a finibus placerat, mauris lorem vehicula ante, sed rhoncus diam mauris id massa. Nunc id nunc sollicitudin, tempor leo et, condimentum dui. 
    </p>
    
    <%- include('navbar') %>

    
  </body>
</html>

        