<html>
  <head>
    <title>Goombing Games</title>
    <link rel='stylesheet' href='/css/main.css'>
  </head>
  <body bgcolor='#061b23'>
    <h1 class='main-title'>Goombing since 2019</h1>

    
    <ul>
      <% for ([key, value] of Object.entries(Object.assign({}, urlMap, sourceMap))) { %>
        <li><a href='/<%=key%>'><%=key%></a></li>
      <% } %>
    </ul>
    <br>
    
  </body>
</html>