        <link rel='stylesheet' href='/css/navbar.css'>
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/">Main</a>
          <hr size="5" noshade color="#ffffff">
          <a href="/games">Games</a>
          <a href="/chat">Chat</a>
          <a href="/support">Support/Contact</a>
          <a href="/other">Other</a>

          <br>
          <br>
          <br>
          <br>
        </div>
        <script src="/js/navbar.js"></script>

        <div class='topbar'>
          <span style="cursor:pointer" onclick="openNav()" class="opennav">&#9776;</span>
          <p class='topbartext' id='rmt'></p>
        </div>