<html>
  <head>
    <title>Goombing Games</title>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/support.css'>
  </head>
  <body>

    <h1 class='main-title'><%= title %></h1>
    <p class="content">
      To suggest a game or report a bug, please contact Arthur:
      <ul>
        <li<a href="mailto:arthurrusaikin7@gmail.com">Gmail</a></li>
        <li><a href="https://github.com/p0syd0n">Github</a></li>
      </ul>

    
    </p>

    <%- include('navbar') %>


  </body>
</html>

