<html>
  <head>
    <title>Goombing Games</title>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/support.css'>
  </head>
  <body>

    <h1 class='main-title'><%= title %></h1>
    <p class="content">
      To suggest a game or report a bug, please visit the (Goombing Games support and feature request chatroom) on Atlantic, or send a direct message to one of the devs:
     <a href="https://atlantic.adaptable.app">Atlantic</a>
     devs usernames:
     <ul>
      <li><a>posydon</a></li>
      <li><a>Onyx</a></li>
     </ul>
    </p>

    <%- include('navbar') %>


  </body>
</html>

