<html>
  <head>
    <title>Goombing Games</title>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/support.css'>
  </head>
  <body>

    <h1 class='main-title'><%= title %></h1>
    <p class="content">
      To suggest a game or report a bug, please contact:
      <ul>
        <li><a href="https://trollface.dk/">Arthur Rusaikin</a></li>
        <li><a href="https://trollface.dk/">OnyxDev1234</a></li>
      </ul>
    </p>

    <%- include('navbar') %>


  </body>
</html>

