<html>
  <head>
    <title>Goombing Games</title>
    <link rel='stylesheet' href='/css/main.css'>
  </head>
  <body>

    <h1 class='main-title'>Goombing since 2019</h1>
    <!-- content -->

    <%- include('navbar') %>


  </body>
</html>

