<html>
  <head>
    <title>Goombing Games</title>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/support.css'>
  </head>
  <body>

    <h1 class='main-title'>Goombing since 2019</h1>
    <p class="content">
      To suggest a game or report a bug, please contact:
      <ul>
        <li><a href="mailto:arthurrusaikin27@wrsdk12.net">Arthur Rusaikin</a></li>
        <li><a href="mailto:mileswilander27@wrsdk12.net">OnyxDev1234</a></li>
        <!--These emails will block any non wrsd emails and I do not want to give my email to strangers you can use make a new goomba@gmail.com for this-->
      </ul>
    </p>

    <%- include('navbar') %>


  </body>
</html>

